@using la_mia_pizzeria_static.Data;
@model Pizza

@{
    Layout = "_PizzeriaLayout";
}

<h1>Ecco la @Model.Nome </h1>
<img src="@Model.FotoPath" alt="@Model.Nome" />
<p>@Model.Descrizione</p>
<strong>Prezzo: </strong>
<span>@Model.Prezzo </span>
<span> Categoria:  </span>